//aquaish-turqoise #29BFCC
//greyish-blue  #6B9599
//greenish aqua #4DFFAA
//pinkish #FF8D95
//magenta #CC2987

// or

//blue #318DCC
//blue-grey #5C8099
//turqoise #4DFFE8
//flesh #FF9F8D
//reddish #CC2B29

//COLORS
$color-primary: #29BFCC;  //aquaish-turqoise #29BFCC
$color-primary-light: #51e7f5;
$color-primary-dark: #0699a7;

$color-secondary: #CC2987; //magenta #CC2987
$color-secondary-light: #f05fb3;
$color-secondary-dark: #b10e6d;

$color-tertiary: #4DFFAA; //greenish aqua #4DFFAA
$color-tertiary-light: #81f7be;
$color-tertiary-dark: #17d87b;

//BLACK AND WHITE
$color-white: #fff;
$color-black: #000;

//GREYS

//LIGHT GREYS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//DARK GREYS
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 6rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;

//Pacifico and Arimo
//Raleway