//MAIN COLORS
$color-primary: #ff9573; //peach color #ff9573
$color-primary-light: #fcbfaa;
$color-primary-dark: #B25A3E; //clay #B25A3E

$color-secondary: #475FCC; // blue #475FCC
$color-secondary-light: #697bcc; //light blue #697bcc
$color-secondary-dark: #475ab2; // navyish blue #475ab2

$color-tertiary: #C2FF8C;; //lime-green #C2FF8C
$color-tertiary-light: #dbfdbd;
$color-tertiary-dark: #94fa3b; 

//WHITE AND BLACK
$color-white: #fff;
$color-black: #000;

//GREY COLORS
//LIGHT GREYS
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//MID-GREYS

//DARK GREYS
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;









