//monochromatic brown
//brown #7F3B11
//tan #FFA56F
//orangy color #FF7522
//dull brown #7F5337
//deeper ornagy color #CC5E1C

$color-primary: #7F3B11; //brown #7F3B11
$color-primary-light: #b8602a;
$color-primary-dark: #632a06;

$color-secondary: #FF7522; //orangy color #FF7522
$color-secondary-light: #f8a571;
$color-secondary-dark: #db5807;

$color-tertiary: #7F5337; //dull brown #7F5337
$color-tertiary-light: #b38f78;
$color-tertiary-dark: #4d2a14;

//WHITE AND BLACK
$color-white: #fff;
$color-black: #000;

//GREYS
//LIGHT
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

//DARK GREYS
$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;